global:
  scrape_interval: 5s
  evaluation_interval: 10s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

rule_files:
  - "/etc/prometheus/alert-rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8888']

  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']

  - job_name: 'generic-app'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['generic:8080']